th, td {
    border: 0px solid #666;
    padding: 20px 10px;
    text-align: center;
}

p {
    font-size: 22px;
}

.lien {
    font-size: 30px;
    color: #d95effd3;;
}

.lien1 {
    color: #d95effd3;
}

body {
    min-height: 100vh;
    margin: 0;
    background:
        linear-gradient(
            to right,
            rgba(30, 49, 160, 0.7),
            transparent 15%,
            transparent 85%,
            rgba(30, 49, 160, 0.7)
        ),
        linear-gradient(
            to bottom,
            rgba(30, 49, 160, 1),
            transparent 20%,
            transparent 80%,
            rgba(30, 49, 160, 0.7)
        ),
        rgba(90, 119, 248, 1);
}
